@model InvoiceManagementSystem.Models.AccountModel
@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="d-flex align-items-center">
                        <h3 class="mb-120" style="margin-left: 107px">Change Password</h3>
                    </div>
                </div>
                <div class="card-body">
                    @*<p class="text-uppercase text-sm">User Information</p>*@
                    <div class="row">
                        <input type="hidden" id="hdnintId" value="@Session["Id"]" />
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="example-text-input" class="form-control-label">Old Password</label>
                                <input class="form-control" id="oldPassword" type="text" placeholder="Enter Old Password">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="example-text-input" class="form-control-label">Re-type Password</label>
                                <input class="form-control" id="retypePassword" type="text" placeholder="Enter Re-type Password">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="example-text-input" class="form-control-label">New Password</label>
                                <input class="form-control" id="newPassword" type="text" placeholder="Enter New Password">
                            </div>
                        </div>
                    </div>
                    @*<hr class="horizontal dark">
                    <p class="text-uppercase text-sm">Contact Information</p>*@

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <button type="button" style="margin-left: 218px" id="btnAdd" class="btn bg-gradient-info" onclick="ChangePassword();">Change</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<script src="https://dreamguys.co.in/smarthr/blue/assets/js/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="https://dreamguys.co.in/smarthr/blue/assets/css/bootstrap-datetimepicker.min.css">
<script src="https://dreamguys.co.in/smarthr/blue/assets/js/moment.min.js"></script>
<script src="https://dreamguys.co.in/smarthr/blue/assets/js/bootstrap-datetimepicker.min.js"></script>
<!--End of Datetime js/css-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/Scripts/Login.js"></script>
